.run {
  position: absolute;
  left: 200px;
  bottom: 0px;

  animation-name: run1, run2;
  animation-fill-mode: forwards;
  animation-duration: 3s;
}

@keyframes run1 {
  to {
    bottom: 315px;
  }
}

@keyframes run2 {
  to {
    left: 360px;
  }
}
